.button-white {
  text-decoration: none;
  color: white;
  font-size: 2rem;
  letter-spacing: 4px;
  transition: all 0.5 ease-in;
}

.button-white:hover {
  opacity: 0.6;
  color: white;
  text-decoration: none;
}

.button-underline {
  padding-bottom: 2px;
  border-bottom: 2px solid white;
}

.button-box {
  padding: 12px 36px;
  border: 2px solid white;
}

.button-blue {
  text-decoration: none;
  color: #243846;
  font-size: 1.5rem;
  letter-spacing: 4px;
  transition: all 0.5 ease-in;
}

.blue-underline {
  padding-bottom: 2px;
  border-bottom: 2px solid #243846;
}