#collections {
  position: relative;
}

#collections-content{
  display: flex;
  position: absolute;
  z-index: 2;
  padding-bottom: 80px;
  height: 100%;
  max-width: 70%;
}

#collections-text {
  color: white;
  font-size: 3.3rem;
  max-width: 65%;
}

#collections-content .button-white {
  transform: translateY(-35px);
  font-size: 1.8rem;
}

.carousel-control-prev-icon {
  background-image: url('../../images/arrow-left.png');
  height: 144px;
  width: 74px;
}

.carousel-control-next-icon {
  background-image: url('../../images/arrow-right.png');
  height: 144px;
  width: 74px;
}

@media only screen and (max-width: 829px) {

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-size: 40%;
  }

  #collections-text { font-size: 1.5rem; }
  #collections-content .button-white { font-size: 1.1rem; }

  #collections-content {
    padding: 10px 0;
  }
}

@media only screen and (min-width: 830px) and (max-width: 1200px) {

  #collections-text { font-size: 2.4rem; }
  #collections-content .button-white { font-size: 1.4rem; }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-size: 70%;
  }
}