.collection-carousel {
  position: relative;
}

.collection-carousel .collection-content{
  display: flex;
  position: absolute;
  padding-bottom: 80px;
}

.collection-carousel .collection-content p {
  color: white;
  font-size: 3.3rem;
}

.collection-carousel .button-white {
  transform: translateY(-35px);
  font-size: 1.8rem;
}

.carousel-control-prev-icon {
  background-image: url('../../images/arrow-left.png');
  height: 144px;
  width: 74px;
}

.carousel-control-next-icon {
  background-image: url('../../images/arrow-right.png');
  height: 144px;
  width: 74px;
}




@media only screen and (max-width: 600px) {

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-size: 40%;
  }

  .collection-carousel .collection-content p {
    font-size: 1.5rem;
  }

  .collection-carousel .collection-content {
    display: block;
  }
}

@media only screen and (min-width: 601px) and (max-width: 1100px) {

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-size: 70%;
  }
}