#design-area{
  margin-top: 130px;
  margin-bottom: 80px;
  position: relative;
  height: 720px;
}

#design-text {
  font-weight: 300;
  font-size: 6rem;
  position: absolute;
  left: 40px;
  bottom: 0px;
  width: 30%;
}

#design-area .button-link {
  position: absolute;
  bottom: -40px;
}

#find-your-style {
  margin-top: 30px;
  padding: 0 0 2px 0;
  border-bottom: 3px solid #243846;
}

#find-your-style p:hover {
  text-decoration: none;
  color: #243846;
  text-decoration: line-through;
  ;
}

#design-area a {
  font-weight: 500;
  font-size: 1.8rem;
}

#design-image {
  margin-top: 130px;
  background-size: cover;
  background-position: center;
  min-height: 660px;
  max-width: 62%;
  /* transform: translateX(30%); */
  position: absolute;
  right: 0;
}


@media only screen and (min-width: 360px) and (max-width: 599px) {
  #design-area{
    margin-top: 40px;
    margin-bottom: 40px;
  }

  #design-image {
    margin-top: 40px;
  }

  #design-text {
    font-size: 3.4rem;
    left: 20px;
    bottom: 70px;
    width: 90%;
    background-color: white;
  }

  #design-area a {
    font-size: 1.4rem;
  }

  #design-area .button-link {
    position: absolute;
    bottom: -40px;
    right: 0;
    width: 90vw;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1199px) {
  #design-area a {
    font-size: 1.6rem;
  }

  #design-text {
    font-size: 5rem;
    bottom: 60px;
  }
  
  #design-area .button-link {
    position: absolute;
    bottom: -40px;
    right: 0;
    width: 400px;
  }

}