.design-area{
  margin-top: 130px;
  margin-bottom: 80px;
  position: relative;
}

.design-area h1 {
  font-weight: 300;
  font-size: 5.5rem;
  position: absolute;
  bottom: 50px;
}

#find-your-style{
  padding: 0 0 2px 0;
  border-bottom: 3px solid #243846;
}

.design-area a {
  text-decoration: none;
  font-weight: 500;
  color: #243846;
  font-size: 1.8rem;
}

.design-area #image {
  background-size: cover;
  height: 680px;
  transform: translateX(30%);
  /* position: absolute; */
  right: 0;
}