.hashtag-cloud{
  padding: 260px 0;
  border-bottom: 1px solid #949494;
}

.hashtag {
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.7rem;
}

.hashtag-gray {
  color: #949494;
}



@media only screen and (max-width: 800px){
  .hashtag-cloud{ padding: 80px 0 }
  .hashtag {
    font-size: 1.4rem;
    line-height: 1.8rem;
  }
}

@media only screen and (min-width: 801px) and (max-width: 1050px){
  .hashtag-cloud{ padding: 160px 0 }
  .hashtag {
    font-size: 1.8rem;
    line-height: 2rem;
  }
}