#intro {
  height: 730px;
  width: 100%;
  margin-top: 130px;
  position: relative;
}

#intro .intro-text {
  position: absolute;
  width: 50%;
  top: 0;
  left: 0;
  font-size: 2.8rem;
  letter-spacing: 5px;
  line-height: 3.6rem;
}

.intro-text p {
  margin: 0;
}

/*
#intro a {
  position: absolute;
  transform: rotate(-90deg) translateX(50%) rotation compensation;
  transform-origin: bottom;
  bottom: 0;
  right: -20px;
  padding: 0;
}
*/

body { margin: 20px; }

.marquee {
  height: 25px;
  width: 350px;
  transform: rotate(-90deg) translateX(65%) /* rotation compensation */;
  transform-origin: bottom;
  overflow: hidden;
  position: absolute;
  right: 50px;
}

.marquee div {
  display: block;
  width: 200%;
  height: 30px;

  position: absolute;
  overflow: hidden;

  animation: marquee 5s linear infinite;
}

.marquee span {
  float: left;
  width: 50%;
}

@keyframes marquee {
  0% { left: 0; }
  100% { left: -100%; }
}


@media only screen and (max-width: 699px) {
  #intro .intro-text {
    font-size: 2rem;
    font-weight: 400;
    width: 90%;
  }

  .marquee {
    transform: rotate(0deg) translateX(0) /* rotation compensation */;
    overflow: hidden;
    position: absolute;
    right: 50px;
    margin-top: 20px;
  }
}

@media only screen and (min-width: 700px) and (max-width:1200px) {
  #intro .intro-text {
    margin-top: 20px;
    font-size: 2.2rem;
    font-weight: 400;
    width: 70%;
  }
}