.slider {
  width: 100%; /* 1920 px*/
  height: 100vh;
  background-position: center;
  position: relative;
}

.slider .button-white {
  position: absolute;
  bottom: 130px;
}

.slider h2 {
  letter-spacing: 30px;
  font-weight: 300;
  color: white;
  font-size: 4.5rem;
}

.slider .carousel-item {
  height: 100vh;
  width: 100%;
  background-size: cover;
  padding: 0 16px;
  transition: all 1s ease;

}

.carousel-indicators {
  bottom: 14px;
}

.carousel-indicators li {
  background-color: #ccd2d7;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  opacity: 1;
  margin-left: 10px;
  margin-right: 10px;
}

.carousel-indicators .active {
  background-color: #233745;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  opacity: 1;
}

/* For typical mobile devices */
@media only screen and (min-width: 360px) and (max-width: 479px) {
  .slider {
    max-width: 100vw;
  }
  
  .slider h2 {
    letter-spacing: 3px;
    font-size: 2.3rem;
    font-weight: 400;
  }

  .slider .button-white {
    font-size: 1.4rem;
  }
}

@media only screen and (min-width: 480px) and (max-width: 793px) {
  .slider h2 {
    letter-spacing: 12px;
    font-size: 3rem;
  }
}